body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: white
}
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: black; 
    padding-left: 15px;
    padding-right: 15px;
}
#MenuDesplegable{
    width: 70px;
    height: 70px;
    cursor: pointer;
}
#dropdownMenu {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    z-index: 1;
    top: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}  
#dropdownMenu a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family:"Montserrat",Sans-serif;

}
  #dropdownMenu a:hover {
    background-color: #c7b4b4;
}

#WPP{
    width: 70px;
    height: 70px;
}
.logo{
    width: 100px;
}
.ImagenesStock {
    margin-top: 250px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.FormatoImagenesCatalogo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 570px;
    width: 400px;
}
.BotonesOpciones{
    display: inline-block;
    position: absolute;
    background-color:black;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    width: 18%;
    top: 90%;
}
#Link{
    text-decoration: none;
    color: white;
    font-family:sans-serif;
}
.TamañoImagenesOpciones{
    width: 100%;
    height: 50%;
}


.Footer { 
    display: flex;
    color: white;
    font-family:sans-serif;
    padding: 15px;
    background-color: black;
}
.Contacto-Footer{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:"Montserrat",Sans-serif;
    font-size: 14px;
}
.Contacto-Footer2 {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imagenFooter {
    width: 60px;
    height: 60px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    margin-bottom: 5px;
}
@media screen and (max-width: 1100px) {
.Header { 
    font-size: 12px;
}
.TamañoImagenesOpciones {
    width: 120px;
    height: 120px;
}
.BotonesOpciones{
    width: 25%; 
     height: auto;
}
.Contacto-Footer {
    width: 100%;
    margin-bottom: 10px; 
}
.Contacto-Footer2 {
    flex-direction: row;
}
.imagenFooter {
    margin-right: 0;
    margin-bottom: 10px;
}
.Footer{
    height: 20%;
  }
}
